*{
    margin:0;
    padding: 0;
}


#resume{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

li {
    font-size: large;
    padding: 5px 0;
}

p,em{
    font-size: x-large;
}

.university, .line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.date p, .location p, .gpa p{
    color: gray;
    font-size: smaller;
}


button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: px;
    /* font-size: large; */
    color: mediumaquamarine;
    border: mediumaquamarine 1pt double;
    font-size: x-large;
    
    
}

button:hover,button:active{
    color: red;
    border: red 1pt double;

}



@media only screen and (max-width: 800px) {

    .university, .line{
        display: inline-block;
    }

    button{
        width: 300px;
        height: 30px;
        font-size: medium;
    }

    h2,h3,h4,h5{
        font-size: smaller;
    }
    p,em,li{
        font-size: medium;
    }
    .date p, .location p, .gpa p{
        font-size: small;
    }
}
