*{
    margin:0;
    padding: 0;
}


#resume{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

li {
    font-size: medium;
    padding: 5px 0;
}

p,em{
    font-size: large;
}


.university, .line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.date p, .location p, .gpa p{
    color: gray;
    /* font-size: smaller; */
    text-align: right;
}
.normalLink{
    color: red;
    text-decoration: underline;
    font-style: italic;

}


button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: px;
    color: red;
    border: none;
    background-color: white;
    font-size: x-large;
    
    
}

button:hover,button:active{
    color: white;
    background-color: red;
    cursor: pointer;

}



@media only screen and (max-width: 800px) {

    .university, .line{
        display: inline-block;
    }

    button{
        width: 300px;
        height: 30px;
        font-size: medium;
    }

    h2,h3,h4,h5{
        font-size: smaller;
    }
    p,em,li{
        font-size: medium;
    }
    .date p, .location p, .gpa p, .normalLink{
        font-size: small;
        text-align: left;
    }
}
